@import url(./reset.css);

body {
  font-family: "Work Sans", serif;
}

body {
  /* 바디 백그라운드 이미지 설정 */
  background-image: url('/Image/index/background.png');
  height: 100vh; /* ! 이걸 설정하지 않으면, wrap이 세로 중앙에 배치가 안 됨 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 앱 이름 */
.wrap .app-name {
  color: #ffffff;
  text-align: center;
  font-size: 6.8rem;
  font-family: 'cambria math', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

/* 메뉴 컨테이너 */
div#menu-container {
  margin: 0 10% 0;
  padding: 0 100px 0;
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* 박스 모양 디자인 */
  border-radius: 120px;
  background-color: rgba(255, 255, 255, 0.25);
}

#menu-container .menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 메뉴 아이콘 박스 공통 CSS */
#menu-container .menu-box .menu-icon {
  width: 300px;
  height: 300px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;;
  /* ! Menu-box 안쪽에 하얀 실선 두는 용(바로 아래 코드용) */
  position:relative; 
}
@media (max-width: 1560px) {
  #menu-container .menu-box .menu-icon {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }
}

/* 메뉴 아이콘 박스 시 둥둥 떠보이는 애니메이션 */
#menu-container .menu-box .menu-icon:hover {
  box-shadow: rgba(8, 49, 112, 0.24) 0px 4px 12px 0px;
  transform: scale(1.01);
}


/* ! 메뉴 아이콘 박스 하얀선 */
#menu-container .menu-box .menu-icon::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 6px solid #ffffff;
  border-radius: 100px;
}
@media (max-width: 1560px) {
  #menu-container .menu-box .menu-icon::before {
    border-radius: 40px;
    border: 4px solid #ffffff;
  }
}

/* 메뉴 아이콘 박스 메뉴 별 색상 지정 */
#menu-container .menu-box#fitness-guide .menu-icon {
  background: #3F3F3F;
} 

#menu-container .menu-box#food-nutrition .menu-icon {
  background: #437A5B;
} 

#menu-container .menu-box#my-plan .menu-icon {
  background: #B4CD93;
} 

/* 메뉴 아이콘 박스 및 메뉴 description 커서 설정 */
#menu-container .menu-box#fitness-guide .menu-icon,
#menu-container .menu-box#fitness-guide .menu-description {
  cursor: url('/Image/index/fitness-guide-cursor.png') 16 16, auto;
} 

#menu-container .menu-box#food-nutrition .menu-icon,
#menu-container .menu-box#food-nutrition .menu-description {
  cursor: url('/Image/index/food-nutrition-cursor.png') 16 16, auto;
} 

#menu-container .menu-box#my-plan .menu-icon,
#menu-container .menu-box#my-plan .menu-description {
  cursor: url('/Image/index/my-plan-cursor.png') 16 16, auto;
} 


#menu-container div.image-container {
  border:6px solid #ffffff;
  margin-top:40px; /* 위치 조절용(부모 요소 space-between) */
  /* 아이콘 담는 박스 흰색 테두리용 */
  width: 65%;
  height: 100px;
  border-radius: 50px;

  /* 안에 담긴 이미지 정렬용 */
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1560px) {
  #menu-container div.image-container {
    border:4px solid #ffffff;
    margin-top:30px; /* 위치 조절용(부모 요소 space-between) */
    margin-bottom: 20px;
    /* 아이콘 담는 박스 흰색 테두리용 */
    width: 65%;
    height: 70px;
    border-radius: 30px;
    padding: 5px;
  }
}

/* 이미지 크기 */
@media (max-width: 1560px) {
  #menu-container div.image-container img {
    width: 40px;
    height: 40px;
  }
}

/* 메뉴 컨테이너 -> Menubox -> 텍스트 박스 높이 지정
  (글자 위치 통일용) */
#menu-container .menu-box div.text-wrapper {
  height: 90px;

  /* 텍스트(p) 중앙정렬용 */
  display: flex;
  align-items: center;

  /* 위치 조절용(부모요소 space-between) */
  margin-bottom: 50px; /* 위치 조절용(부모 요소 space-between) */
}

/* 메뉴 컨테이티너 -> Menu box -> 텍스트  */
#menu-container .menu-box .menu-icon p {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}
@media (max-width: 1560px) {
  #menu-container .menu-box .menu-icon p {
    font-size: 1.8rem;
    font-weight: 500;
  } 
}

/* 메뉴 별 description 담는 박스 */
#menu-container .menu-box .menu-description {
  margin-top: 1.2rem;
}



/* 메뉴 별 description 텍스트 */
#menu-container .menu-box .menu-description p {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1560px) {
  #menu-container .menu-box .menu-description p {
    font-size: 1.2rem;
  }
}

/* 메뉴 별 description 텍스트 hover시 떠보이는 애니메이션 */
#menu-container .menu-box .menu-description p:hover {
  text-shadow: rgba(8, 49, 112, 0.24) 0px 4px 12px 0px;
  transform: scale(1.01);
}


/* ==========start: 미니게임 ============ */
.wrap .minigame-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* 미니게임 박스 */
.wrap .minigame-container .minigame-box {
  width: 450px;
  padding: 12px 0 12px;
  background: #FFA500;
  border-radius: 23px;
  border: 4px solid #ffffff;
  position: relative;
  cursor: url('/Image/index/minigame-cursor.png') 16 16, auto;
}

/* 미니게임 박스 hover 시 떠보이는 애니메이션 */
.wrap .minigame-container .minigame-box:hover {
  box-shadow: rgba(8, 49, 112, 0.24) 0px 4px 12px 0px;
  transform: scale(1.01);
}

/* 미니게임 박스 안쪽 실선*/
.wrap .minigame-container .minigame-box::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 4px solid #ffffff;
  border-radius: 20px;
}

.wrap .minigame-container .minigame-box p {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 1560px) {
  .wrap .minigame-container .minigame-box p {
    font-size: 1.4rem;
  }
}


/* ==========end: 미니게임 ============ */